@import 'tailwindcss';

@utility doom-border-inset {
  border: 6px solid;
  border-top-color: #2c2c2c;
  border-left-color: #2c2c2c;
  border-right-color: #808080;
  border-bottom-color: #808080;
}

@utility doom-border-outset {
  border: 6px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-right-color: #2c2c2c;
  border-bottom-color: #2c2c2c;
}

@utility doom-bg {
  background-image: url(https://bghq.com/textures/doom/thmb/tn091.jpg);
}

@font-face {
  font-family: 'Minecraft';
  src: url('assets/Minecraft.otf');
}

@layer base {
  a {
    @apply underline text-blue-300 hover:text-blue-500 visited:text-purple-400
  }
}